// couleurs
$brown-dark: #462a0b;
$brown-light: #f0e5d6;
$green-light: #80ba3f;
$green-dark: #3e5325;
$gray-transparent: rgba(75, 78, 80, 0.6);
$gray-transparent-2: rgba(255, 255, 255, 0.65);
$text-shadow-color: #14110c;
$red-light: hsl(0, 45%, 53%);
$kaki: #9e896a;
$yellow-light: #f5bd17;
$primary-color: #00005c;
$text-color: mix(#000, $primary-color, 64%);

//font-family
$font-itim: 'Itim', sans-serif;
